.team-card {
    max-width: 250px;
    margin: auto; 
}
.card-img-top {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    border-radius: .25rem .25rem 0 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width: 100%;
    max-width: 18rem; 
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top {
    border-radius: 5px 5px 0 0;
}

.card-heading {
    font-size: 1.4rem; 
}

.card-body {
    height: 6rem;
}

.card-title {
    font-size: 1.25rem; 
}

.card-text {
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .card-text, .card-title, .card-heading {
        text-align: center;
    }
}