/* .title{
    color: #14A44D;
    text-align: center;
    font-family: 'Nunito';
    padding-top: 9%;
    font-size: 50px;
}

.inputs{
    background-color: green;
    align-content: center;
}

.Username{
    background-color: #D9D9D9;
    height: 50px;
    width: 500px;
}

.Password{
    background-color: #D9D9D9;
    height: 50px;
    width: 500px;
} */

body{
    background: url("/Assets/Login Background.png") no-repeat center center fixed; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.form-size{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    /* background-color: black; */
}