body{
    background: url("/Assets/Login Background.png") no-repeat center center fixed; 
}

.voucher {
    width: auto; 
    margin: 10px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-sizing: border-box;
    overflow: hidden; 
    flex: 0 1 calc(50% - 20px - 5px);
    padding-top: 0;
}

.voucher-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto; 
    max-width: 950px;
    gap: 10px;
}

.voucher img {
    width: 100%; 
    height: auto;
    display: block;
    margin: 0;
}

.voucher-details {
    /* font-family: 'Arial', sans-serif;  */
    text-align: left;
    padding: 15px; 
    font-size: 1.2em;
}

.voucher-details p {
    margin: 5px 0; 
    line-height: 1.4;
}

.voucher.locked {
    background-color: #f2f2f2;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    padding: 20px; 
    margin: 10px;
    flex: 0 1 calc(50% - 20px -5px);
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100px; 
    box-sizing: border-box;
}

.voucher.locked p {
    color: #666; 
    font-style: italic; 
}
